set default="0"
set timeout="10"

# Background image (uncomment and provide path to enable)
# if loadfont /boot/grub/fonts/unicode.pf2; then
#   set gfxmode=1024x768
#   terminal_output gfxterm
#   background_image /boot/grub/splash.png
# fi

menuentry "Hydra Linux Live" --id live {
  linux /boot/vmlinuz archisobasedir=live archiso_loop_squashfs=/live/hydra-root.squashfs quiet splash
  initrd /boot/initramfs.img
}

menuentry "Hydra Linux Live (Safe Mode)" --id safe {
  linux /boot/vmlinuz archisobasedir=live archiso_loop_squashfs=/live/hydra-root.squashfs nomodeset disable_modules=radeon,nouveau nofb
  initrd /boot/initramfs.img
}

menuentry "Boot from First Disk" --id disk {
  set root=(hd0)
  chainloader +1
}

menuentry "Memory Test" --id memtest {
  linux /boot/memtest86+
}

menuentry "Shutdown" --id shutdown {
  halt
}

menuentry "Reboot" --id reboot {
  reboot
}
